*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    
}
.container{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 25PX 18PX;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
}

.inputBox{
    position: relative;
}

.inputBox span{
    position: absolute;
    top: 12px;
    right: 6px;
    cursor: pointer;
    z-index: 2;
}


.passBox{
    padding:8px;
    margin-block: 8px;
    width: 100%;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: none;
    outline: none;
    text-overflow: ellipsis;
}

.select{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    
}

.select p, .select label{
    flex-basis: 100%;
    font-size: 18px;
}

.select input[type="checkbox"]{
    width: 50px;
    height: 20px;
    cursor: pointer;
}

.generateBtn{
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
    background: rgb(180, 180, 223);
    border-radius: 10px;
    transition: 0.5s ease;
}


.generateBtn h2{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}